manifest {
    homePage = 'http://github.com/skptic/tuxedo-nf'
    description = 'Nextflow Implementation of Tuxedo Suite'
    mainScript = 'tuxedo.nf or tuxedo_trim.nf'
}
params {
// input sequences [FASTQ or FASTQ.GZ]
    //reads = "{your_path}/SRR*{1,2}.fastq" or "{your_path}/SRR*.fastq.gz"
    reads = "{your_path}/SRR*{1,2}.fastq.gz"
    // genome index [HISAT2 INDEX]
    index = "{your_path}/GRCm39/genome_tran"
    // annotation [GTF]
    annotation = "{your_path}/Mus_musculus.GRCm39.107.chr.gtf"

    // output directory [DIR]
    output = "./3_NextFlow/"
}

docker {
    enabled = true
    runOptions = "--user {your_uid}"
}

process {
    container = 'xynicoo/rnaseq:n3-fastpMqc'
}

//
//includeConfig "$baseDir/params_default.config"
//

